body {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    row-gap: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.box {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;

}