body {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;

}

#box-1 {
    margin-right: auto;
}

.box {
    flex-shrink: 1;
    min-width: 100px;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width:575px) {
    body {
        flex-wrap: wrap;
    }
}